.header{
	display: flex;
	justify-content: center;
	background: lightblue;
}

.main-content-container{
	display: flex;
	flex-direction: row;
}

/* Input */

.input-container{
	margin:1em;
	background:lightblue;
	width:25%;
	padding:1em;
	border: 1px solid white;
	border-radius: 0.5em;
	height:fit-content;
}

.input-container h3{
	font-size: medium;
}

.input-form{
	display: flex;
	flex-direction: column;
}

.input-form input{
	margin: 0.2em;
	padding: 0.5em;
	border: 1px solid white;
	border-radius: 0.3em;
}

.input-container button {
	margin: 0.6em 0.3em;
	padding: 1em;
	border: 1px solid white;
	border-radius: 0.3em;
	background:lightgreen;
	color:rgb(84, 81, 81);
	font-weight: 700;
	letter-spacing: 0.1em;
	width: 100%;
}
.input-container button:hover{
	cursor: pointer;
	opacity: 0.9;
}

#error-line p{
	color:rgb(219, 37, 37);
}

/* Display */ 

.display-container{
	background:lightgoldenrodyellow;
	margin:1em;
	width:65%;
	padding:1em;
	border: 1px solid white;
	border-radius: 0.5em;
}

.product-container{
	padding:0.5em;
	background:rgb(223, 223, 177);
	margin:1em;
}

.product-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0;
}

.product-container button{
	background:rgb(231, 100, 100);
	border: 1px solid black;
	border-radius:1em;
	height:2em;
}

.product-container button:hover{
	cursor: pointer;
	opacity: 0.9;
}

.product-container p{
	margin-top:0;
	margin-bottom:0;
}